.boton{
  color: #0099CC;
background: transparent;
  
}

/* Efecto agrandar al pasar ratón*/
.card img:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);

   box-shadow: 0 4px 16px red;
}

.boton:hover{
   background-color: #008CBA;
      color: white;
  box-shadow: 0 4px 16px black;
  transition: all 0.2s ease;
}

/* !!! Parte de esta linea probablemente esté en el index*/
section, .row{
  margin: 20px;
}
