/*Estilo basico del contenedor del componente*/
.componenteDos {
  width: 100%;
  min-height: 90vh; /* le damos solo un minimo para que sea responsive el fondo*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image:url(../img/background-1409125_1280.png);
}

pre {
  color: white;
}

/***************************CARD IMAGES*******************************/

/*Margenes de la fila de imagenes*/
.row {
  margin-left: 5%;
  margin-right: 5%;
}

/*Posicion y color del botón*/
.boton {
  position:relative; /*asi lo podemos mover a la posición deseada*/
  left: 10%;
  color: #4A235A;
  background: transparent; 
  border-color: #4A235A;
}

.boton:hover {
  background-color: #380B61;
  color: white;
  box-shadow: 0 4px 16px black;
  transition: all 0.2s ease;
}


.tarjeta {
  color: white;
  width: 250px;
  height: 350px;
  border: 1px solid #4A235A;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.tarjeta p, h3 {
  padding: 10px;
}

/*Tamaño de las imagenes de las tarjetas*/
.tarjeta img {
  width: 100%;
  height: 150px;
}

/* Efecto agrandar al pasar ratón*/
.tarjeta img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 4px 16px black;
}


/************************TABLERO DE CRISTAL*****************************/


/*Propiedades y tamaño del tablero de cristal*/
.tablero-cristal {
  margin: auto;
  position: relative;
  min-width: 500px;
  max-width: 100vh;
  height: 350px;
  background: inherit;
  border-radius: 5px;
  overflow: hidden; /*ocultamos el efecto de desenfoque si se sale de la caja */
  box-shadow: inset 20px 20px 200px -70px #B3B6B7; /*sombra interior, asi logramos un efecto mas cercano a un cristal*/
}

/*Efecto de cristal opaco*/
.tablero-cristal::after {
  content: '';
  width: 100%;
  height: 100%;
  background: inherit; 
  position: absolute;
  top: 0 ;
  filter: blur(10px);
}

/*Sobreponemos el contenido por delante del desenfoque*/
.contenido-cristal {
  padding: 30px;
  position: relative;
  z-index: 1;
}


/****************************PESTAÑAS************************************/


/*Propiedades y tamaño del tablero de pestañas*/
.tabs {
  position: relative;   
  min-height: 200px;
  margin: 25px ;
}

/*Estilos pestañas*/
.tab {
  float: left; /*flotamos las pestañas para tenerlas juntas en linea*/
}

.tab label {
  /*Dependiendo del la posicion que le demos a las pestañas (ej:relative) se pueden superponer al tablero usando un z-index cuando la pestaña esté activa, las demas estarán por detrás y se pueden posicionar moviendolas por ejemplo con bottom, esto combinado con un border-bottom  (ej: elegir el color de fondo del tablero) nos permite un efecto que al pinchar en la pestaña se combinen pestaña y tablero, no se ve el borde inferior pero si los laterales. */
  color: white;
  padding: 10px; 
  border-radius: 10px;   
  position: relative;
  bottom: 10px; /*alejamos las pestañas de los contenidos*/
  box-shadow: inset 2px 2px 15px -7px #B3B6B7
} 


.tab [type=radio] {
  display: none;   /*ocultamos el input radio*/
}

[type=radio]:checked ~ label {
  background: #ddd; /*color pestaña activa*/
  z-index: 2; /*aumentamos el index para verla por encima del tablero de contenidos*/
}

/*Propiedades y tamaño del tablero de contenidos*/
.content-tab {
  color: white;
  /*Para determinar la distancia entre los margenes del elemento y de su bloque contenedor. usamos las propiedades left, rigth, bottom y top, asi cada pestaña mantiene su posicion y oculta a las demás, si queremos un efecto en el que se vean una encima de otra y se vea un poco el borde podemos quitar estas propiedades o darles valores diferentes */
  position: absolute; /*Posicion para que ocupe siempre el mismo sitio al seleccionar la pestaña*/
  top: 30px; /*lo alejamos de la parte superior*/
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
}

/*Efecto al mostrar el contenido*/
.content-tab > * {
  /*La transicion 
  All: todas las propiedades que puedan tener una transición animada la tendrán.
  0.7 es la velocidad a la que se reproducirá
  ease es el valor del timing-function, eso determina la ejecucion, aumenta la velocidadahacia la mitad de la transicion y disminuyendola al final, con ease-in comienza lento y va aumentando
  */
  opacity: 0; /*Asi ocultamos el contenido de las demas pestañas y evitamos que se solapen, ya que no tenemos un background color que las oculte*/

  -webkit-transform: translateX(-100%);
  -moz-transform:    translateX(-100%);
  -ms-transform:     translateX(-100%);
  -o-transform:      translateX(-100%);
  -webkit-transition: all 0.7s ease;
  -moz-transition:    all 0.7s ease;
  -ms-transition:     all 0.7s ease;
  -o-transition:      all 0.7s ease;
}

[type=radio]:checked ~ label ~ .content-tab { 
  z-index: 1;
  overflow: auto; /*Si el texto excede se añade la barra de scroll*/
}

/*Posicion inicial del contenido*/
[type=radio]:checked ~ label ~ .content-tab > * {
  /*Incluimos la posicion inicial para asegurarnos que el efecto de transicion se ejecute correctamente cuando estemos mostrando el contenido de una pestaña*/
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform:    translateX(0);
  -ms-transform:     translateX(0);
  -o-transform:      translateX(0);
}