

.cuadro {
  width: 400px;
  height: 300px;
  perspective: 1000px;
}

.cuadro h3 {

    width: 100%;
    height: 100%;
    background-image: url(../img/2741104.jpg);
    background-size: cover;

    transform-style: preserve-3d;
    transition: all 0.5s;
}





/*cuando pasemos el raton rotamos el h3*/
.cuadro:hover h3 {
    transform: rotateX(90deg);
    transform-origin: bottom;
}



/*el contenido del h3 lo tenemos en un span para que no interfiera cuando movamos las capas y poder moverlas independientemente*/
.cuadro h3 span {
    color: red;
/*le damos una posicion de manera que podamos posicionarlo abajo y al rotar y baje sea visible*/
    position: fixed;
    top: 100%;
   
    width: 100%;
  
    text-align: center;
    transform: rotateX(-90deg); /*lo rotamos de manera que el texto esté mirando hacia abajo,*/
    transform-origin: top;

}

/*efecto sombra*/
.cuadro h3:before {
    content: '';
    position: absolute; /*la posicion relativa nos hace la sombra en el punto 0,0 del .cuadro por lo que necesitamos que sea absoluta*/

  /* ahora le damos el todo el tamaño y vemos como se pinta la sombra ocupando todo el contenedor del h3, ademas el cuadro tiene la propiedad prespectiva por lo que se adapta y adqiuere la misma forma*/
    width: 100%; 
    height: 100%; 
    background: aqua;
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    opacity: 0.15;
  /* creamos una sombra, la tumbamos al rotarla en el eje X y y la profundidad (z) en negativo para bajarla*/
    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom; 
}


/*EXPLICAR!!!!!!*/
.cuadro:hover h3:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px pink;
    transform: rotateX(0) translateZ(-50px) scale(0.85);
}
