@import "lesshat";

.container{   
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top:20px;
}

.div-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    &.hidden{
          overflow: hidden;
      }
    .img{
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;   
        transform:scale(1.2);
         
    }        
    &:hover{
        .img{
            transform:scale(1);
  
        }
    
    } 
}