.rotulo{
  background-color: #eee;
  height: 25vh;
}

.rotulo h1, .rotulo p{
  padding-top: 1.3em;
  margin: auto;
}

:root{
  box-sizing: content-box;
}
.menu-fijo {
    z-index: 1;
    width: 100%;
    background: #312450;
    display: flex;
    justify-content: space-between; /* Distribuimos las etiquetas con espacio entre ellas, al ser dos cada una se pocisiona en un lateral*/
    align-items: center; /* alineamos al centro los links, asi se ajusta al tamño del nav*/
    padding: 0 5rem;
    position: sticky; /* Si lo queremos que nos acompañe al hacer scrooll*/
    top: 0px;
    border-bottom: solid 3px rgba(255, 255, 255, 0.75);

}

label > h1 {
    color: rgba(255, 255, 255, 0.75);
}

.enlace-menu {
    color: aqua;
    margin: 0 1.5rem;
    text-decoration: none;
}




/*
CSS para el componente 4
*/
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.panel {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.panel-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;

}

.close:hover,
.close:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.panel-header {
  padding: 2px 16px;
  background-color: red;
  color: white;
}

.panel-body {padding: 2px 16px;}

.panel-footer {
  padding: 2px 16px;
  background-color: tomato;
  color: white;
}


/*
CSS PARA LOS BOTONES DE COLORES HOVER
CSS PARA LOS BOTONES DE COLORES HOVER
CSS PARA LOS BOTONES DE COLORES HOVER
CSS PARA LOS BOTONES DE COLORES HOVER
*/


.draw-border {
  box-shadow: inset 0 0 0 4px #58afd1;
  color: #58afd1;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.black{
    box-shadow: inset 0 0 0 4px #fff;

    color: #fff;
}
.white{
    box-shadow: inset 0 0 0 4px #000;

  color:#000;
}

.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: #ffe593;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: #ffe593;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.black:hover, .black:hover::before, .black:hover::after {
    color: #000;
    border-color: #000;
}
.white:hover, .white:hover::before, .white:hover::after {
    border-color: #fff;
      color: #fff;

}

.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

/*
CSS PARA LOS BOTONES DE COLORES HOVER
CSS PARA LOS BOTONES DE COLORES HOVER
CSS PARA LOS BOTONES DE COLORES HOVER
CSS PARA LOS BOTONES DE COLORES HOVER
*/
