.menu-fijo {
    width: 100%;
    background: #312450;
    display: flex;
    justify-content: space-between; /* Distribuimos las etiquetas con espacio entre ellas, al ser dos cada una se pocisiona en un lateral*/
    align-items: center; /* alineamos al centro los links, asi se ajusta al tamño del nav*/
    padding: 0 5rem;
    position: sticky; /* Si lo queremos que nos acompañe al hacer scrooll*/
    top: 0px;
    border-bottom: solid 3px rgba(255, 255, 255, 0.75);
}
label > h1 {
    color: rgba(255, 255, 255, 0.75);
}

.enlace-menu {
    color: aqua;
    margin: 0 1.5rem;
    text-decoration: none;
}



/* codigo para posible banner

.banner {
    width: 100%;
    padding: 9rem 3rem;
    text-align: center;
    background: url("../img/fondo.jpg");
    background-color: rgba(0,0,0,.3);
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}*/