/* DESDE AQUI HASTA EL FINAL ESTÁ EN INDEX.CSS   :)  */
.cuadro {
  width: 90%; 
  height: 200px;
  perspective: 800px; /*Es importante darle perspectiva al contenedor para cuando pasemos el ratón la veamos tumbada*/
  margin: auto;
  margin-bottom: 10%; /*Añadimos un margen inferior por que las rotaciones y sombra ocupan posiciones fuera del contenedor, si hay algo debajo no interfieren*/
  margin-top: 5%;
}

/*El h3 contendrá la imagen, pero se la añadiremos a la clase para hacer baners diferentes, le damos un tamaño del 100% para que los extremos bajen igual hacia el centro por la perspectiva del contenedor padre (como si observaramos desde el frente), si le damos un tamaño de la mitad o inferior conseguimos un efecto  como si observaramos un poco lado */
.cuadro h3 {
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  width: 100%;
  height: 100%; 
  transform-style: preserve-3d; /* La propiedad transform de CSS3 nos da la habilidad de transformar elementos en 2D o en 3D. Nos permite rotar, escalar, mover, torcer, etc, elementos. En este ejercicio haremos un cubo animado que rota con 6 diferentes caras con CSS3.*/
  transition: all 0.5s; /*A partir de 0.6 la sombra rota de más*/
}

.cuadro h3::after {
  content: "“Talk is cheap. Show me the code.”";
  color: white;
}

.imagenUno{
  background-image: url(../img/banner1.jpg);
}

.imagenDos{
  background-image: url(../img/banner2.jpg);
}

.imagenTres{
  background-image: url(../img/banner3.jpg);
}

.imagenCuatro{
  background-image: url(../img/banner4.jpg);
}

.imagenCinco{
  background-image: url(../img/banner5.jpg);
}

/*Rotación del h3 (imagen y texto)*/
.cuadro:hover h3 {
  transform: rotateX(75deg);
  transform-origin: bottom; /*Para conseguir que la parte inferior no se mueva y se tumbe desde arriba originamos la rotacion desde abajo*/
}


/*El contenido del h3 lo tenemos en un parrafo para que no interfiera cuando movamos las capas y poder hacerlo independientemente. Capa de sombra (::before), capa con autor(<p>), capa con imagen(<h3>) y capa con la frase del autor(::after)*/
.cuadro h3 p {
  color: black;  
  position: relative; /*Le damos una posicion de manera que podamos posicionarlo abajo y al rotar baje y sea visible*/
  top: 100%;
  width: 100%;
  transform-origin: top;
  text-align: right;
  transform: rotateX(-90deg); /*Lo rotamos de manera que el texto esté mirando hacia abajo*/
  /* modificamos el origen de la transformacion del parrafo, está justo debajo de la imagen, ya tumado por la rotación, al darle origen top empieza desde arriba y a la vez conseguimos que se suba y se oculte detrás de la imagen antes de iniciar el efecto*/
}

/*Efecto sombra*/
.cuadro h3::before {
  content: "";
  position: absolute; /*La posicion relativa nos hace la sombra en el punto 0,0 del .cuadro por lo que necesitamos que sea absoluta o fixed*/ 
  width: 100%;  /* ahora le damos el todo el tamaño y vemos como se pinta la sombra ocupando todo el contenedor del h3, ademas el cuadro tiene la propiedad prespectiva por lo que se adapta y adqiuere la misma forma*/
  height: 100%; 
  background: #9c9c9c;
  box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.45);
  transition: all 0.5s;
  opacity: 0.15;
  transform: rotateX(95deg) translateZ(-50px) scale(0.75);  /*Creamos una sombra, la tumbamos al rotarla en el eje X y y la profundidad (z) en negativo para bajarla*/
  transform-origin: bottom; 
}

/*Esta parte es importante para que la animación no se dañe, el ::before del h3 contiene la sombra girada por lo que al posicionar el ratón encima se moverá, entonces debemos darle una posición  y un estilo*/
.cuadro:hover h3::before {
  opacity: 0.5;
  box-shadow: 0 0 25px 25px #9c9c9c;
  transform: translateZ(-50px) scale(0.9); /*Movemos la sombra hacia abajo cuando el raton pase por encima para mantener una distancia con el h3 y no le oculte, y lo reescalamaos en funcion del efecto de luz que queramos (como si la luz estuviera mas cerca o lejos de la imagen, asi la sombra crece o decrece)*/
}
